t wh# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code / IDE
.vscode/
.idea/

# Logs
*.log

# Local configs
.env
.env.*

# MyPy
.mypy_cache/
.dmypy.json

# Ruff / Flake8
.ruff_cache/

# Cursor
.cursor/*


